html, body {
    /* border: 10px solid lightgreen;     */
    display: flex;
    flex-direction: row;  
    height: 100%;
    width: 100%;
}

body {
    /* border: 10px solid pink; */
    height: 100%;
    width: 100%;
}

#robo-body {
    /* border: 10px solid red; */
    position: absolute;
    top: 0;
    padding-right: 8em;
    height: 110%;
    width: 110%;
    z-index: -1;
}

@font-face {
    font-family: Baloo;
    src: url(fonts/Baloo/Baloo-Regular.ttf) format("truetype");
}

.container {
    /* border: 10px solid yellowgreen;  */
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    font-family: Baloo;
    font-size: 16px;
    color: blue;
    padding-left: 8em;
    padding-top: 15em;

}