
.burger-holder {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 50px;
    width: 50px;
}

.burger-holder span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    top: 10px;
    left: 10px;
    background: black;
     border-radius: 3px;
    z-index: 2;
    transform-origin: 4px 0px; 
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease; 
}