html {
    box-sizing: border-box;
    font-size: 10px; 
}
*, *:before, *:after {
    box-sizing: inherit;
}
:hover{
  fill: #111;
  
}

html, body {
    /* border: 10px solid blue;    */
    display: flex;
    flex-direction: row; 
    height: 100%;
    width: 100%;
    font-family: "Avenir Next", "Avenir", sans-serif;
    text-decoration: none;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: row;
}

.burger-holder {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 50px;
    width: 50px;
    z-index: 2;
}

.burger-holder span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    top: 10px;
    left: 10px;
    border-radius: 3px;
    z-index: 2;
    transform-origin: 4px 0px; 
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease; 
}

.menu {
    position: absolute;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    color:#cdcdcd;
    background-color:rgba(0, 0, 0, 0.9);
    width: 300px;
    height: 100%;
    z-index: 1;
    transform: translateX(-100%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    
    
}
.menu-area {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    padding-left: 50px;

}

.menu-title {
    position: relative;
    top: 3px;
    left: 90px;
}

select {
    color: #cdcdcd; 
    background-color: #232323;
}

select:focus {
    outline: none !important;
    border-color: #719ECE;
    color: #cdcdcd; 
    box-shadow: 0 0 5px #719ECE; 
    background-color: #232323;
}

.open {
    transform: translateX(0%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
.burger1, .burger2, .burger3 {
    background-color:#232323;
}

.rotate-SE {
    opacity: 1;
    transform: rotate(45deg) translate(0px, -2px); 
    background: #cdcdcd;
}

.rotate-NE {
    opacity: 1;
    transform: rotate(-45deg) translate(0px, -2px);
    background: #cdcdcd;  
}

.hide {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.languages {
    margin-top: 50px;
}

.symptoms {
    margin-top: 50px;
}

.info {
    margin-top: 50px;
}

.symptoms input, .info input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0px;
    overflow: hidden;
}

.symptoms label, .info label {
  display: inline-block;
  width: 60px;
  background-color: #cdcdcd;
  color: #232323;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid #232323;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.symptoms input:checked + label, .info input:checked + label {
    background-color: #719ECE;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.symptoms label:first-of-type, .info label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.symptoms label:last-of-type, .info label:last-of-type {
    border-radius: 0 4px 4px 0;
}

.entire-container{
  width: 250px;
  height: 350px;
  background-color: blue;
}

main{
  display: flex;
  align-items: center;
}

/*Phone*/ 
@media only screen and (min-width : 300px) {
    .menu {
        width: 100%;
    }
    .menu-title {
        margin-top: 22px;
        font-size: 2.5em;
    }  
    .languages {
        font-size: 1.25rem;
    }
    .symptoms {
        font-size: 1.25rem;
    }
    .info {
        font-size: 1.25rem;
    }
    #fullbodysvg {
        width: 100%;
        height: 100%;
    }

    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }

    .results {
        display: flex;
        justify-content: center; 
        align-items: center;
        flex-flow: column wrap;
        position: absolute;
        bottom: 0;
        left: 20px;
        margin-bottom: 1em;
        border-radius: 25px;
        text-align: center;
        padding: .5em;
        background-color: rgba(255, 255, 255, 0.8);
        width: 90%;
        font-size: 1.5em;
    }
    .body-part, .symptom-box, .wiki-box {
        display: flex;
        padding: 1em;
        margin: 1em;
        border: 1px solid black;
        border-radius: 25px;
    }
}

@media only screen and (min-width : 300px) and (orientation: landscape) {
    .menu-area {
        display: flex;
        flex-direction: row;     
    }
    .menu-title {
        margin-top: 22px;
        font-size: 2.5em;
    }  
    .languages {
        font-size: 1.25rem;
         margin-right: 50px; 
    }
    .symptoms {
        font-size: 1.25rem;
         margin-right: 50px; 
    }
    .info {
        font-size: 1.25rem;
    }
    .symptoms label:first-of-type, .info label:first-of-type {
        border-radius: 4px 4px 4px 4px;
    }

    .symptoms label:last-of-type, .info label:last-of-type {
        border-radius: 4px 4px 4px 4px;
    }

}

/*Tablets */
@media only screen and (min-width : 750px) {
    .menu {
        width: 50%;
        min-width: 300px; 
    }
    .menu-area {
        display: flex;
        flex-direction: column;     
    }
    .menu-title {
        padding-top: 50px;
        font-size: 3rem;
        margin-top: 22px;
    }  
    .languages {
        font-size: 1.5rem;
    }
    .symptoms {
        font-size: 1.5rem;
    }
    .info {
        font-size: 1.5rem;
    }
    .symptoms label:first-of-type, .info label:first-of-type {
        border-radius: 4px 0 0 4px;
    }

    .symptoms label:last-of-type, .info label:last-of-type {
        border-radius: 0 4px 4px 0;
    }
}

/*Desktops */
@media only screen and (min-width : 1200px) {
    .menu {
        padding-top: 50px;
        width: 300px;
        transform: translateX(0%); 
    }
    .burger-holder, .burger1, .burger2, .burger3 {
        z-index: -1;
    }
    .menu-title {
        position: absolute;
        top: 3px;
        left: 50px; 
    }  
    .menu-area {
        margin-top: 50px;
    }
}

.main {
     /* border: 10px solid lightgreen;   */
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row; 
    /* justify-content: space-between; */
    
}

.main-panel {
    border: 10px cyan solid; 
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.5em;
}

.results {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-flow: column wrap;
    position: absolute;
    bottom: 0;
    left: 20px;
    margin-bottom: 1em;
    border-radius: 25px;
    text-align: center;
    padding: .5em;
    background-color: rgba(255, 255, 255, 0.8);
    width: 90%;
    font-size: 1.5em;
}

.body-part, .symptom-box, .wiki-box {
    display: flex;
    padding: 1em;
    margin: 1em;
    border: 1px solid black;
    border-radius: 25px;
}



/*tooltip experiment  */


/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}