html {
    box-sizing: border-box;
    font-size: 10px; 
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* @font-face {
    font-family: Baloo;
    src: url(fonts/Baloo/Baloo-Regular.ttf) format("truetype");
} */

html, body {
    display: flex;
    flex-direction: row;  
    height: 100%;
    width: 100%;
    /* font-family: Baloo, Arial, Helvetica, sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px; 
    text-decoration: none;
    /* overflow: hidden; */
}

.burger-holder {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 50px;
    width: 50px;
    z-index: 3;
}

.burger-holder span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    top: 10px;
    left: 10px;
    border-radius: 3px;
    z-index: 3;
    transform-origin: 4px 0px; 
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease; 
}

.menu {
    position: absolute;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    color:#cdcdcd;
    background-color:rgba(40, 80, 200, 0.95);
    width: 300px;
    height: 100%;
    z-index: 2;
    transform: translateX(-100%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    
    
}
.menu-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

select {
    color: #232323; 
    /* background-color: #232323; */
    background-color:#cdcdcd; 
}

select:focus {
    outline: none !important;
    border-color: #719ECE; 
    color: #232323; 
    box-shadow: 0 0 5px #719ECE;  
    background-color:#cdcdcd; 
}

.open {
    transform: translateX(0%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
.burger1, .burger2, .burger3 {
    background-color:#232323;
}

.rotate-SE {
    opacity: 1;
    transform: rotate(45deg) translate(0px, -2px); 
    background: #cdcdcd;
}

.rotate-NE {
    opacity: 1;
    transform: rotate(-45deg) translate(0px, -2px);
    background: #cdcdcd;  
}

.hide {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.languages {
    margin-top: 50px;
}

.symptoms {
    margin-top: 50px;
}

.info {
    margin-top: 50px;
}

.symptoms input, .info input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0px;
    /* overflow: hidden; */
}

.symptoms label, .info label {
  display: inline-block;
  width: 60px;
  background-color: #cdcdcd;
  color: #232323;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  /* border: 1px solid #232323; */
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.symptoms input:checked + label, .info input:checked + label {
    background-color: #719ECE;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.symptoms label:first-of-type, .info label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.symptoms label:last-of-type, .info label:last-of-type {
    border-radius: 0 4px 4px 0;
}

.entire-container{
  width: 250px;
  height: 350px;
  background-color: blue;
}

main{
  display: flex;
  align-items: center;
}

/*Phone*/ 
@media only screen and (min-width : 300px) {
    .menu {
        width: 100%;
    }

    .menu-title {
        margin-top: 22px;
        font-size: 4em;
        padding-top: 1em;
        /* letter-spacing: 5px; */
    }

    .menu-elements {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 14px;
    }

    div.selector {
        position: relative;
        display: inline-block;
        text-align: center;
    }

    select option {
        position: relative;
        display: inline-block;
        text-align: center;
    }

    .languages, .symptoms, .info {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .switch {
        display: flex;
        flex-direction: row;  
    }

    #body-boxes {
        /* border: 10px solid red;  */
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .results {
        font: 0.5rem;
        display: flex;
        justify-content: space-between;
        /* background-color: rgba(123,237,234, 0.9); */
        width: 100%;
        height: 100%;
    }

    .body-part, .wiki-box {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        border: 1px solid black;
    }

    .symptom-box {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        border: 1px solid black;
    }

    .sym-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .close{
        color: black;
        position: absolute;
        top: 0;    
        right: .5rem;
        z-index: 1;
        /* right: .25rem; */
        font-size: 40px;
        font-weight: bold;
    }

    .close:hover, .close:focus,
    .close:active {
        color: black;
        /* text-decoration: none; */
        cursor: pointer;
    }

    .second-box, .third-box {
        padding-top: 1rem;
        background-color: rgba(123,237,234, 0.9);
        border-radius: 15px;
    }

/* 
      table { 
         width: 100%; 
          height: 40%; 
        background-color: rgba(123,237,234, 0.9); 
         background-color: rgba(255,255,255,0.9);  
        margin: 15% auto;   15% from the top and centered   
        padding-top: 15% auto;
         padding-top: 20px; 
         border: 1px solid black;    
        border-radius: 15px;
        border-collapse: collapse;
         width: 80%;  Could be more or less, depending on screen size  
    }  */

    /* table th, td {
        font-size: 1.75rem;
           height: 50px;   
        max-height: 30px; 
    } */

    .lang-title {
        /* font-style: italic; */
        font-size: 2rem;
        /* text-decoration: underline; */
    }

    /* table th {
        font-size: 2.75rem;
        padding: 1em .5em 1em .5em;
         border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black; 
    } */

    /* td, th {
        border-bottom: 1px solid black; 
    } */

    div.wiki-style {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    .language-part-display, .symp-display {
        /* background-color: rgba(255, 255, 255, .9); */
        justify-content: center; 
        padding: 1em;
        /* border: 1px solid black; */
    }

    .symp-display {
        /* border-top: 1px solid black; */
        border-bottom: 1px solid black;
    }

     .main-box {
        /* border: 2px solid orange; */
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 15%;
        width: 100%;
        /* padding: 50px; */
        /* padding: 2rem; */
        /* justify-content: center; */
        justify-content: space-around;
    } 

    div.second-box {
        /* border: 2px solid cyan; */
        display: flex;
        flex-direction: column;
        /* justify-content: center;  */
        justify-content: space-around;
        margin-bottom: 4rem;
    }

    div.language-part-display {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    div.third-box {
        /* border: 2px solid cyan; */
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        justify-content: space-around;
    }  

    div.symp-display {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-around;
    }

    div.table-header {
        font-size: 2.5rem;
        font-weight: bold;
    }

}

@media only screen and (min-width : 300px) and (orientation: landscape) {
    .menu-area {
        display: flex;
        flex-direction: row;   
    }
    
    .menu-title {
        margin-top: 22px;
        font-size: 2.5em;
    }  

    .languages {
        font-size: 1.25rem;
        margin-right: 50px; 
        margin-left: 50px;
    }

    .symptoms {
        font-size: 1.25rem;
        margin-right: 50px;  
    }

    .info {
        font-size: 1.25rem;
    }

    /* .symptoms label:first-of-type, .info label:first-of-type {
        border-radius: 4px 4px 4px 4px;
    }

    .symptoms label:last-of-type, .info label:last-of-type {
        border-radius: 4px 4px 4px 4px;
    } */

    .results {
        position: absolute;
        top: 20px;
        height: 100%;
    }

    .results .main-box {
        height: 100%;
        width: 80%;
        overflow: scroll;
        margin-left: 10%;
        margin-right: 10%;
        /* position: relative; */
        justify-content: none;
    }

     div.second-box {
        padding: 0;
        margin: 0;
        position: absolute;
        top: 5%;
        width: 100%;
        /* height: 4rem; */
    } 

    div.third-box {
        position: absolute;
        top: 35%;
        width: 100%;
        padding: 0;
        margin: 0;
        /* height: 10rem; */
    }

    /* }
    table {
        margin-top: 50px;
        margin-bottom: 30px;
    } */

    .close{
        color: black;
        position: absolute;
        top: .75rem;    
        right: .75rem;
        z-index: 2;
        /* right: .25rem; */
        font-size: 60px;
        font-weight: bold;
    }

}

/*Tablets */
@media only screen and (min-width : 750px) {
    .menu {
        width: 50%;
        min-width: 300px;
    }

    .menu-area {
        display: flex;
        flex-direction: column;
    }

    .menu-title h1 {
        padding-top: 50px;
        font-size: 3rem;
        margin-top: 22px;
        position: relative;
    }

    .languages {
        font-size: 1.5rem;
        margin-right: unset;
        margin-left: unset;
    }

    .symptoms {
        font-size: 1.5rem;
        margin-right: unset;
    }

    .info {
        /* margin-right: unset; */
        font-size: 1.5rem;
    }

    .symptoms label:first-of-type, .info label:first-of-type {
        border-radius: 4px 0 0 4px;
    }

    .symptoms label:last-of-type, .info label:last-of-type {
        border-radius: 0 4px 4px 0;
    }

     table {
         margin-top: 50px;
         margin-bottom: 30px;
    }

    .results{
        margin: 0;
        border: unset;
        overflow: auto;
    }

    .results .main-box {
        /* display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column; */
        height: 100%;
        width: 80%;
        overflow: scroll;
        margin-left: 10%;
        margin-right: 10%;
        /* position: relative; */
        justify-content: none;
    }

    .second-box {
        position: absolute;
        top: 5%;
        width: 100%;
    } 

    .third-box {
        position: absolute;
        /* top: %; */
        width: 100%;
    }

    .close{
        color: black;
        position: absolute; 
        right: 1rem;
        font-size: 60px;
        font-weight: bold;
    }
}

/*Desktops */
@media only screen and (min-width : 1200px) {
    .menu {
        padding-top: 50px;
        width: 350px;
        transform: translateX(0%); 
    }
    .burger-holder, .burger1, .burger2, .burger3 {
        z-index: -1;
        opacity: 0;
    }
    .menu-title {
        position: absolute;
        top: 3px;
        left: unset; 
    }  
    .menu-area {
        margin-top: 50px;
    }
    .results {
  
        left: unset; 
        overflow: scroll; 
        align-self: center; 
        /* top: 50px; */
        /* top: 150px; */
        right: 0; 
        /* overflow: auto; */
        width: 100%;
        height: 100%;
        /* width: 350px; */
        border: unset;
        /* height: 98%; */
    }

      .main-box {
        position: unset;  
        /* width: 35%; */
        height: 100%;
        width: unset;
        width: 100%;
        /* width: 100%; */
        /* border: 10px solid red; */
    }  

      div.second-box, div.third-box {
        padding: 3rem;
        /* margin: 1rem; */
    }  

    div.second-box {
        width: 25%;
        height: 10%;
        top: 3%;
        right: 6%;
        margin: unset;
        padding: unset;
        padding-top: 1rem;
        padding-bottom: 1rem;
        align-self: flex-end;
    }

    div.third-box {
        top: 15%;
        width: 30%;
        right: 3%;
        font-size: 20px;
        margin-bottom: auto;
    }

    .close {
        top: 0;
        right: 2%;
    }

}
 
.main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row; 
    
}

.main-panel {
    /* border: 10px cyan solid;   */
    flex: display;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.25em;
}

